<nav class="bg-main text-center text-white p-3">
    <div class="container d-flex justify-content-center">
        <div class="nav-content">
            <h1 class="logo fw-bolder">MyStore</h1>
            <ul class="d-flex justify-content-between w-100 p-2">
                <li><a routerLink="/">Product List</a></li>
                <li class="mx-2">|</li>
                <li routerLink="/cart"><a>Cart<i class="fa-solid fa-cart-shopping fs-6 ms-1"></i></a></li> <!-- &#x1F6D2;&#128722; -->
                
            </ul>
        </div>
    </div>
</nav>