<div>
    <div class="product-card py-3">
        <div class="p-4">
            <div [routerLink]="['/details' , product.id]" class="product-item-image p-3"> <!-- (click)="displayDetails()" -->
                <img class="img-fluid" [src]="product.url" alt="">
            </div>
        </div>
        <div class="product-item-info text-center">
            <h3>{{product.name}}</h3>
            <p>${{product.price}}</p>
            <div class="form-floating">
              <select #selection class="form-select py-0" id="floatingSelect" aria-label="Floating label select example" [value]="amount">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            <button class="btn btn-primary" (click)="setProductPurchased(selection)">Add To Cart</button>
        </div>
    </div>

    
</div>
    
