<div class="py-5">
    <div class="row">
        <div class="col-md-4 offset-2">
            <div class="product-detail-image">
                <img class="img-fluid" [src]="productItem?.url" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="p-4">
                    <div class="product-detail-description">
                        <h2>{{productItem?.name}}</h2>
                        <p>${{productItem?.price}}</p>
                        <p>{{productItem?.description}}</p>
                    </div>
                    <div class="form-floating">
                        <select #selection class="form-select py-0" id="floatingSelect" aria-label="Floating label select example" [value]="amount" >
                          <option selected value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select>
                      </div>
                    <button class="btn btn-primary addBtn" data-bs-toggle="modal"  data-bs-target="#staticBackdrop" (click)="setProductPurchased(selection)">Add To Cart</button>
                    <br>
                    <a class="back-btn" routerLink="/"><i class="fa-solid fa-arrow-left-long"></i> Back to Product List</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal to alert user that product was added to cart successfully -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Adding Product to Cart</h5>
            
            </div>
            <div class="modal-body">
                This Product Was Added Successfully to Your Cart ✔️
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-success m-auto" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
        </div>
    </div>
</div>